.commercial{
	&.services{
		.section1{
			min-height: 350px;
			width: 100%;
			background-color: #E6E6E6;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 0;
			.content-padding{
				padding: 25px 8%;
				max-width: 1100px;
				.img-container{
					max-width: 800px;

				}
			}
		}
		.section2, .page-title{
			@include width-fix();
		}

		.section2{
			@include fade-image();
			margin-bottom: 60px;
		}
	}

	&.installation{
		@include width-fix();
		.section1{
			@include fade-image();
		}
	}

	&.contracts{
		@include width-fix();
	}
}