.commercial{
	&.services{
		@include width-fix();
		.section1{
			@include fade-image-reverse(-30px);
			min-height: 350px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 0;
			.content-box{
				margin-left: -150px;
			}
			@media(max-width: 660px){
				padding: 0;
			}
		}

		.section2{
			@include background-text('../assets/images/site-photos/Commercial_Service_2.jpeg', contain);
			width: 100%;
			margin-bottom: 60px;
		}
	}

	&.installation{
		@include width-fix();
		overflow: hidden;
		.section1{
			@include fade-image();
			.content-box{
				margin-right: -60px;
			}
		}
	}

	&.contracts{
		@include width-fix();
		.image-container{
			height: 300px;
			.image{
				height: 300px;
			}
		}
	}
}