.contact{
	padding: 0 5%;
	.contact-image{
		overflow: hidden;
		padding: 10px 10px 10px 25px;
		img{
			width: 100%;
		}
	}
	div{
		p{
			padding: 0 12px;
		}
	}
	.contact-direct{
		.no-decoration{
			text-decoration: none;
		}
		.fa{
			font-size: 24px;
			color: rgba(0,0,0,0.54);
		}
	}
	form{
		.md-block{
			.material-icons{
				display: inline-block;
			}
		}
		button{
			margin-left: 0;
			@media(max-width: 600px){
				margin-left: 5%;
			}
		}
		.text-area{
			padding-left: 37px;
			label{
				margin-left: 36px;
			}
		}
	}
	
	.map-container{
		margin-top: 50px;
		margin-bottom: 50px;
		.map{
			width: 90%;
			margin: 0 auto;
		}
		.open-map{
			margin-left: 5%;
			margin-bottom: 12px;
		}
	}
}