.iaq{
	
	padding: 20px;
	&.general{
		padding: 0;
		.page-title{
			h2{
				padding: 0 5%;
			}
		}
		.section1{
			padding: 5%;
			@media(max-width: 660px){
				padding: 0;
			}
			margin-bottom: 0;
			@include background-text('../assets/images/site-photos/for-background/IMG_2694.JPG', contain);
			.background{
				background-position: bottom !important;
			}
		}
		.section2{
			min-height: 350px;
			width: 100%;
			background-color: #E6E6E6;
			display: flex;
			align-items: center;
			justify-content: center;
			.content-padding{
				padding: 25px 8%;
				max-width: 1100px;
				.img-container{
					max-width: 800px;

				}
			}
		}
	}

	&.insulation{
		.section1{
			@include width-fix();
			@include background-text('../assets/images/site-photos/for-background/attic-insulation.jpg', contain);
			.headding{
				h4{
					font-size: 1.3em;
					text-align: center;
				}
			}
		}
		.numbers{
			font-size: 1.25em;
		}
	}


	&.cleaning{
		@include width-fix();
		.tab-container{
			margin-bottom: 60px;
			.tabs{
				.product-description{
					width: 60%;
					float: left;
					h4{
						margin: 0;
					}
					.img-mobile{
						@include hide-above(660px);
						display: block;
						margin: 0 auto;
						img{
							width: 100%;
						}
					}
				}
				.product-img{
					@include hide-below(660px);
					width: 35%;
					float: right;
					img{
						width: 100%;
					}
				}
				@media(max-width: 660px){
					.product-img, .product-description{
						width: 100%;
					}
				}
			}
		}
		.less{
			display: none;
			width: 50px;
			color: #7CC242;
		}
		.read-more{
			width: 100px;
			color: #7CC242;
		}
		.is-expanded{
			.read-more{
				display: none;
			}
			.less{
				display: block;
			}
		}
		v-pane-header{
			border: none;
			margin: 0;
			padding: 0;
			&:before{
				background-color: #498617 !important;
			}
		}
		.accordion-items{
			padding: 10px 15px;
			margin-bottom: 10px;
			.accordion-item{
				margin-bottom: 25px;
				h4, p{
					margin: 5px 0;
				}
				v-pane-content{
					padding: 0;
					div{
						padding: 0 0 10px 0;
					}
				}
			}
		}
	}
	
}