@mixin background-image($url, $attachment:scroll, $opac:0){
	background: linear-gradient(rgba(0, 0, 0, $opac), rgba(0, 0, 0, $opac)), url($url) no-repeat center center $attachment;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	background-size: cover;
	position: relative;
}

.main{
	height: 100vh;
	.section1{
		clear: both;
		height: 500px;
		&#about{
			height: 450px;
		}
		.background{
			@include background-image('../assets/images/site-photos/homepage3.jpg');
			display: flex;
			align-items: center;
			.content{
				p{
					background-color: white;
					padding: 20px;
					border-radius: 5px;
					line-height: 22px;
				}
			}
			.headding{
				margin-top: 475px;
				width: 100%;
			    background-color: rgba(0,0,0, 0.8);
			    color: #fff;
			    @media(max-width: 660px){
			    	margin-top: 515px;
			    	.numbers{
			    		font-size: 1.8em;
			    	}
			    }
				h3{
					font-size: 4em;
					letter-spacing: 2px;
					margin: 0;
					@media(max-width: 480px) {
				    	font-size: 34px;
					    letter-spacing: 1px;
				    }
				}
				p{
					text-align: center;
					margin: 0;
					@media(max-width: 480px) {
				    	font-size: 14px;
				    }
					@media(min-width: 480px) {
				    	br{
				    		display: none
				    	}
				    }
				}
				h3, p {
					width: 100%;
				    text-align: center;
				}
				.md-button{
					min-height: 55px !important; 
					font-size: 2em !important;
					transition: all 0.1s linear;
					padding-top: 5px;
					border: solid 2px transparent;
					margin: 10px;
					color: #7cc242;
					&:hover{
						border: solid 2px;
						color: #A4C787;
						background-color: rgba(255, 255, 255, 0.15);
					}
					span{
						padding: 3px;
					}
				}

			}
		}
	}
	.brands{
		flex-wrap:wrap;
		height: auto;
		width: 100%;
		margin-top: 90px;
		.text-block{
			width: 100%;
			margin-bottom: 24px;
			h2{
				text-align: center;
			}
			.body-text{
				width: 70%;
				margin: 0 auto;
				@media(max-width: 680px){
					width: 90%;
				}
			}
		}

		div{
			width: 90px;
			margin: 0 10px;
			img{
				width: 100%;
				min-width: 90px;
			}
			@media(max-width: 599px){
				width: 55px;
				margin: 0 6px;
				img{
					min-width: 55px;
				}
			}
		}
	}

	.section2{
		clear: both;
		padding-top: 25px;
		min-height: 300px;
		display: flex;
		align-items: center;
		.info-container{
			.info-item{
			    padding: 2%;
				text-align: center;
				.material-icons {
					font-size: 48px;
				}
				@media(max-width: 600px){
					padding-left: 10%;
					padding-right: 10%;
				}
			}
		}
	}
	.contact-form{
		@media(max-width: 660px){
			margin-bottom: 250px;
		}
		padding-top: 70px;
		@include width-fix(750px);
		h3{
			margin-bottom: 30px;
		}
		form{
			margin: 0 auto;
			max-width: 750px;
			width: 100%;
			.md-block{
				.material-icons{
					display: inline-block;
				}
			}
			button{
				margin-left: 0;
				@media(max-width: 600px){
					margin-left: 5%;
				}
			}
			.text-area{
				padding-left: 37px;
				label{
					margin-left: 36px;
				}
			}
		}
	}

	.section4{
		min-height: 300px;
		padding: 4%;
		.form-container{
			width: 50%;
		    padding-right: 5%;

			.md-block{
				// width: 33%;
			}
			@media(max-width: 768px){
				padding: 0;
				width: 100%;
				.md-block{
					width: 90%;
					margin: 0 auto;
				}
				button{
					margin-left: 5%;
				}
			}
		}
		.form-image{
			width: 50%;
			@media(max-width: 768px){
				display: none;
			}
			img{
				margin: 0 auto;
				display: block;
			}
		}
	}
}