.mini-splits{
	&.general{
		.tab-container{
			width: 100%;
			md-tabs-wrapper{
				padding-left: 5%;
			}

			.product-description, .tab-title{
				@include width-fix(950px);
			}
		}
		.bg{
			color: #000;
			padding: 30px 5%;
			&.general{
				@include background-image('../assets/images/site-photos/MiniSplit_GeneralInfo.jpg', scroll, 0.5, 255);
			}
			&.installation{
				@include background-image('../assets/images/site-photos/MiniSplit_Installation.jpg', scroll, 0.85, 255);
			}
			&.repair{
				@include background-image('../assets/images/site-photos/MiniSplitRepair.jpg', scroll, 0.7, 255);
			}
		}
	}

	&.products{
		.tabsdemoDynamicHeight md-content {
		  background-color: transparent !important; }
		  .tabsdemoDynamicHeight md-content md-tabs {
		    background: #f6f6f6;
		    border: 1px solid #e1e1e1; }
		    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
		      background: white; }
		  .tabsdemoDynamicHeight md-content h1:first-child {
		    margin-top: 0; }

		.tab-container{
			margin-bottom: 60px;
			padding: 5%;
			md-tab-content{
				max-width: 1100px;
			}
			.tabs{
				.product-description{
					width: 60%;
					float: left;
					h4{
						margin: 0;
					}
					.img-mobile{
						@include hide-above(660px);
						display: block;
						margin: 0 auto;
						img{
							width: 100%;
						}
					}
				}
				.product-img{
					@include hide-below(660px);
					width: 35%;
					float: right;
					img{
						width: 100%;
					}
				}
				@media(max-width: 660px){
					.product-img, .product-description{
						width: 100%;
					}
				}
			}
		}
	}
}

