@mixin cursive($size){
	font-family: 'Rochester', cursive;
	font-size: $size;
}

body{
	font-family: 'Raleway', sans-serif;
}

$primary: #78ba3b;

.row{
	margin-left: 0;
	margin-right: 0;
}

@mixin hide-below($size: 680px){
	@media(max-width: $size){
		display: none;
	}
}
@mixin hide-above($size: 680px){
	@media(min-width: $size){
		display: none;
	}
}

@mixin width-fix($width: 1100px) {
  max-width: $width;
  margin: 0 auto;
}

.margin-auto{
	display: block;
	margin: 0 auto;
}

md-content{
	height: 100%;
}