<md-content class="residential contracts" layout="column" layout-align="center center">
	<div class="page-title">
		<h2>Maintenence Contracts</h2>
	</div>
	<div class="section1" flex layout="row" layout-align="space-between center">
		<div layout-fill class="background">
	        <div class="headding" layout="column">
	          	<p>Your air conditioner and heater needs routine maintenance to check for potential problems and to operate at its peak efficiency just like any other type of mechanical equipment. If left unchecked, a small problem can lead to an expensive repair and potentially shorten the equipment life as well as unnecessarily increasing your utility costs, so it is important to identify and repair any potential issues sooner rather than later.</p>
	        </div>
        </div>
	</div>
	<div class="section2 mar-bot" flex>
		<div class="content-padding margin-auto" layout="row" layout-align="center center">
			<div flex>
				<p>We recommend checking the equipment twice per year, once in the spring before the cooling season and once in fall before the heating system to keep your energy costs to a minimum, extend the life of your equipment and ensure year round trouble–free comfort in your home.</p>
			<p>Zenit Service offers residential maintenance contracts and each can be customized to our client’s needs.</p>
			</div>
		</div>
	</div>
</md-content>