<md-content class="about residential installation" layout="column" layout-align="center center">
	<div class="page-title">
		<h2>Residential Installation</h2>
	</div>
	<div class="section0" flex layout="row" layout-align="space-between center">
		<div flex="70" flex-offset="15">
			<p>We offer comprehensive air conditioning installation and replacement services for homes throughout the Orlando and surrounding area and can do the same for you.</p>
		</div>
	</div>
	<div class="section1">
      <div layout-fill class="background">
        <div class="headding" layout="column">
          	<p flex>Choosing a new air conditioner for your home starts with determining what type of system you would like to have installed and what model and size better fits the configuration of your home. Zenit Service offers:</p>
			<ul flex="100">
				<li>Traditional split central air conditioner system</li>
				<li>Traditional split heat pump</li>
				<li>Ductless split air conditioner</li>
				<li>Package</li>
			</ul>
			<p flex>We can replace only single unit with a matching substitute - if only one is in need of repair. Experienced technicians will work with you to replace and install the whole A/C system, including inside and outside unit if needed.</p>
        </div>
      </div>
    </div> 
	<div class="section4" flex layout="row" layout-align="space-between center">
		<div flex>
			<h3>The Air Conditioning Installation Process</h3>
			<p>The process of installing the air conditioner you have selected for your home starts with ensuring your existing system is properly removed and that any necessary components in your home have been taken out or upgraded. It is important that you spend time choosing a system that matches your specific cooling needs but also that you upgrade any necessary components in your home that might offer better efficiency ratings and ensure the system will work properly for years to come.</p>
		</div>
		
	</div>
</md-content>