<md-content class="residential service" layout="column" layout-align="center center">
	<div class="page-title">
		<h2>Residential Services</h2>
	</div>
	<div class="section1 mar-bot" flex layout="row" layout-align="center center">
		<div layout-fill>
			<div class="bg">
				<img src="assets/images/site-photos/Residential_Service.jpg" alt="residential services">
			</div>
		    <div class="headding" layout="column" layout-align="center center">
	        	<p class="p1">We at Zenit Service always try to keep our initial service calls as low as possible and the service call fee may be waived depending on the cost of the repair. The cost of labor is included in our flat rate prices.</p>
				<p class="p2">From repairs and maintenance to installation and replacement, our highly trained air conditioning experts can work on any type or brand of system that you might have.</p>
		    </div>
			<p class="p3">From repairs and maintenance to installation and replacement, our highly trained air conditioning experts can work on any type or brand of system that you might have.</p>

		</div>

	</div>
	
</md-content>