<md-content class="commercial" layout="column" layout-align="center center">
	<div class="page-title">
		<h2>Commercial HVAC</h2>
	</div>
	
	<div class="section-container section1" flex>
		<div class="sub-section" layout="row" layout-align="space-between center">
			<div flex>
				<p>We offer comprehensive commercial HVAC installation, maintenance and repair services for all major brands of heating and air conditioning systems and can ensure you have the system you need to keep your building comfortable for years to come.</p>
			</div>
			<div class="image-container" flex hide-xs>
				<img class="margin-auto" src="http://placehold.it/350x300" alt="">
			</div>
		</div>
	</div>
	<div class="section-container section2" flex>
		<div class="sub-section" layout="row" layout-align="space-between center">
			<div class="image-container" flex hide-xs>
				<img class="margin-auto" src="http://placehold.it/350x300" alt="">
			</div>
			<div flex>
				<p>We offer comprehensive commercial HVAC installation, maintenance and repair services for all major brands of heating and air conditioning systems and can ensure you have the system you need to keep your building comfortable for years to come.</p>
			</div>
		</div>
	</div>
	<div class="section-container section3 mar-bot" flex>
		<div class="sub-section" layout="row" layout-align="space-between center">
			<div flex>
				<p>Zenit Service offers commercial and residential maintenance contracts. Each can be customized to the needs of the client.</p>
			</div>
			<div class="image-container" flex hide-xs>
				<img class="margin-auto" src="http://placehold.it/350x300" alt="">
			</div>
		</div>
	</div>
</md-content>