<md-content class="commercial installation" layout="column" layout-align="center center">
	<div class="page-title">	
		<h2>Commercial Installation</h2>
	</div>

	<div class="section1 mar-bot" flex layout="row" layout-align="center center">
		<div class="content-box" flex>
			<p>If your business needs a new a rooftop unit, packaged air system or larger HVAC unit like a cooling tower, chiller or condensing unit, Zenit Service can help. We can also find a replacement system that matches your business needs as well your budget. We can even build you a custom system including building control systems as well as energy saving measures.</p>
		</div>
		<div class="image-container" flex hide-xs>
			<img class="margin-auto" src="assets/images/site-photos/Commercial_Installation_1.png" alt="commercial installation">
		</div>
	</div>
</md-content>