<md-content class="about installation" layout="column" layout-align="center center">
	<div class="section1" flex layout="row" layout-align="space-between center">
		<div flex>
			<h2>Commercial HVAC Services</h2>
			<p>We realize that running a business is hard work, and we know that keeping your customers & employees comfortable at all times is key to your success. That’s why Zenit Service offers a full range of commercial and industrial HVAC services in Orlando including custom designed systems, installation & replacement, repair and maintenance services, commercial construction. </p>
		</div>
		<div class="image-container" flex hide-xs>
			<img class="margin-auto" src="http://placehold.it/350x300" alt="">
		</div>
	</div>
	<div class="section1" flex layout="row" layout-align="space-between center">
		<div class="image-container" flex hide-xs>
			<img class="margin-auto" src="http://placehold.it/350x300" alt="">
		</div>
		<div flex>
			<h4>Service and Repair</h4>
			<p>As a business owner, you know how much you rely on your air conditioning and heating systems to keep your business comfortable for your clients, customers and employees. We've worked with all different types of companies: from small businesses to larger corporations. Whether you have a complex HVAC system with cooling towers and chillers, or you have a rooftop unit that needs work, feel free to give us a call.</p>
		</div>
	</div>
</md-content>