<md-toolbar class="md-mainColor md-hue-2 top-nav" layout="row" layout-align="start center">

  <div class="top-logo" layout="column" layout-align="start center">
		<md-button href="#">Zenit Service</md-button>
		<!-- <p class="sub-heading">HVAC Specialist</p> -->
  </div>

  <section flex layout="row" layout-align="end end" layout-margin layout-margin>
    <!-- <md-button href="#" class="md-raised">Home</md-button>
    <md-button href="#about" class="md-raised">About</md-button>
    <md-button href="#contact" class="md-raised">Contact</md-button> -->
    <div class="call">
	    <md-button class="md-fab md-mini" aria-label="Call">
			<md-icon class="material-icons md-mainColor md-hue-4">phone</md-icon>
	    </md-button>
	    <span hide-sm show-gt-sm>888-888-8888</span>
    </div>
    
  </section>

</md-toolbar>


<md-toolbar class="md-menu-toolbar" layout="row" layout-align="center center">
    <div >
      <div>
        <md-menu-bar>
          <md-menu>
            <button ng-mouseenter="$mdOpenMenu() && vm.mouseIn()">
              Home
            </button>
            <button ng-mouseenter="$mdOpenMenu() && vm.mouseIn()">
              About
            </button>
            <button ng-mouseenter="$mdOpenMenu() && vm.mouseIn()">
              Residential
            </button>
            <md-menu-content ng-mouseleave="vm.mouseOut()" ng-mouseenter="vm.mouseIn()">
              <md-menu-item>
                <md-button href="//google.com">
                  Share...
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <!-- <md-menu-item>
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">Air Conditioning</md-button>
                  <md-menu-content>
                    <md-menu-item><md-button>Document</md-button></md-menu-item>
                    <md-menu-item><md-button>Spreadsheet</md-button></md-menu-item>
                    <md-menu-item><md-button>Presentation</md-button></md-menu-item>
                    <md-menu-item><md-button>Form</md-button></md-menu-item>
                    <md-menu-item><md-button>Drawing</md-button></md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item> -->
            </md-menu-content>
          </md-menu>
          
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>