<md-toolbar class="md-menu-toolbar nav">
	<div layout="row" class="inner-nav" layout-align="space-between center">
		<div flex="none" class="top-logo">
			<!-- <md-button href="#/"> -->
				<a href="#/">
				<div layout="row" layout-align="center center">
					<img class="logo" src="assets/images/Logo5.jpg" alt="">
					<img class="zs-text" src="assets/images/ZS-text-clipped.png" alt="">
				</div>
				</a>

			<!-- </md-button> -->
		</div>
		<section flex class="side-nav" flex-offset="90" layout="row" layout-align="end end" layout-margin layout-margin>
			<div class="call" layout="row" layout-align="center center">
				<md-button class="md-fab md-mini" data-ng-click="vm.toggle()" aria-label="Menu">
		        	<md-icon class="material-icons md-mainColor md-hue-4 icon">menu</md-icon>
		        </md-button>
			</div>
			
		</section>
		<md-menu-bar class="dropdowns" flex="70">
			<div flex="100" class="home-row" layout="row" layout-align="end center" >
				<md-button data-ng-class="{active: vm.isActive('/')}" href="#/">
					Home
				</md-button>
				<md-button data-ng-class="{active: vm.isActive('/about')}" href="#/about">
					About
				</md-button>
				<md-button data-ng-class="{active: vm.isActive('/contact')}" href="#/contact">
					Contact
				</md-button>
			</div>

			<!-- Residential -->
			<div flex="100" layout="row" layout-align="end center" class="second-row">
			<md-menu md-offset="0 45">
				<md-button data-ng-class="{active: vm.isActive('/residential')}" ng-click="$mdOpenMenu()" href="">
				<!-- data-ng-mouseenter="$mdOpenMenu() && vm.mouseIn()" -->
					Residential
					<md-icon class="material-icons md-mainColor md-hue-4 icon">arrow_drop_down</md-icon>
				</md-button>
				<md-menu-content width="4" data-ng-mouseleave="vm.mouseOut()" data-ng-mouseenter="vm.mouseIn()">
					<md-menu-item>
						<md-button href="#/residential/service">
							Service
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button href="#/residential/installation">
							Installation
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button href="#/residential/repairs">
							Repairs
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button href="#/residential/contracts">
							Maintenence Contracts
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<!-- End Residential -->

			<!-- Commercial -->
			<md-menu md-offset="0 45">
				<md-button data-ng-class="{active: vm.isActive('/commercial')}" ng-click="$mdOpenMenu()" href="">
				<!-- data-ng-mouseenter="$mdOpenMenu() && vm.mouseIn()" -->
					Commercial
					<md-icon class="material-icons md-mainColor md-hue-4 icon">arrow_drop_down</md-icon>
				</md-button>
				<md-menu-content width="4" data-ng-mouseleave="vm.mouseOut()" data-ng-mouseenter="vm.mouseIn()">
					<md-menu-item>
						<md-button href="#/commercial/service">
							Service
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button href="#/commercial/installation">
							Installation
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button href="#/commercial/contracts">
							Maintenence Contracts
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<!-- End Commercial -->
			
			<!-- <md-button data-ng-class="{active: vm.isActive('')}" href="#/maintenenceContracts">
				Maintenence Contracts
			</md-button> -->

			

			<!-- Mini Splits -->
			<md-menu md-offset="0 45">
				<md-button data-ng-class="{active: vm.isActive('/miniSplit')}" ng-click="$mdOpenMenu()" href="">
					Mini Splits
					<md-icon class="material-icons md-mainColor md-hue-4 icon">arrow_drop_down</md-icon>
				</md-button>
				<md-menu-content width="4" data-ng-mouseleave="vm.mouseOut()" data-ng-mouseenter="vm.mouseIn()">
					<md-menu-item>
						<md-button href="#/miniSplit/general">
							General
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button href="#/miniSplit/products">
							Products
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<!-- End Mini Splits -->

			<!-- Indoor Air Quality -->
			<md-menu md-offset="0 45">
				<md-button data-ng-class="{active: vm.isActive('/iaq')}" ng-click="$mdOpenMenu()" href="">
					Indoor Air Quality
					<md-icon class="material-icons md-mainColor md-hue-4 icon">arrow_drop_down</md-icon>
				</md-button>
				<md-menu-content width="4" data-ng-mouseleave="vm.mouseOut()" data-ng-mouseenter="vm.mouseIn()">
					<md-menu-item>
						<md-button href="#/iaq/general">
							Residential & Commercial
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button href="#/iaq/cleaning">
							Duct cleaning
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button href="#/iaq/insulation">
							Attic Insulation
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<!-- end IAQ -->
			
			<!-- Refrigeration -->
			<md-button data-ng-class="{active: vm.isActive('/refrigeration')}" href="#/refrigeration">
				Refrigeration
			</md-button>
			</div>
		</md-menu-bar>
	</div>
</md-toolbar>

<ng-include src="'app/components/navbar/sidenav.html'"></ng-include>
