.acme-navbar-text{
	color: white;
}
.nav{
	background-color: rgba(255,255,255,0.8) !important;
	position: fixed;
	a{
		color: black !important;
	}
}
.top-nav{
	.top-logo{
		span{
			font-size: 24px;
		}
	}
	.call{
		.md-fab{
			background-color: rgba(0,0,0,0.6) !important;
		}
		.number{

		}
	}
}
@media(min-width: 965px){
	br{
		display: none;
	}
}