<section layout="row" flex="" class="side-content">

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">

    <md-toolbar class="" layout="row" layout-align="space-between center">
      <h1 class="md-toolbar-tools">Zenit Services</h1>
      <!-- <md-button ng-click="vm.close()" class="md-primary md-fab md-mini"> -->
        <md-icon ng-click="vm.close()" class="material-icons md-warn close">cancel</md-icon>
      <!-- </md-button> -->
    </md-toolbar>
    <md-content class="accordion-wrapper">
      <v-accordion class="vAccordion--default v-acc">

        <!-- add expanded attribute to open the section -->
        <v-pane class="pane" data-ng-repeat="item in vm.menuItems track by $index">
          <md-button ng-show="!item.isList"
                    ng-href="{{item.href}}" 
                    data-ng-bind="item.title" 
                    aria-label="item.title">
            
          </md-button>
            <v-pane-header class="header" ng-show="item.isList" data-ng-bind="item.title">
            </v-pane-header>

            <v-pane-content class="v-content" ng-show="item.isList">
              <div layout="column">
              <md-button flex="100"
                        data-ng-repeat="sub in item.subItems"
                        data-ng-bind="sub.name"
                        ng-href="{{sub.href}}">
              </md-button>
              </div>
            </v-pane-content>
        </v-pane>

      </v-accordion>
      <!-- <md-button ng-click="vm.toggle()" class="md-primary">
        Toggle left
        </md-button> -->
    </md-content>

  </md-sidenav>
</section>