<md-content class="mini-splits general" layout="column" layout-align="center center">
	<div class="page-title">
		<h2>Mini Splits</h2>
	</div>
	<div class="tab-container mar-bot">
		<md-tabs class="tabs" md-dynamic-height md-border-bottom>
			<md-tab label="General Info">
				<div class="md-padding">
				  <h3 class="">General Info</h3>
				  <div>
					  <div class="product-description" layout="column">
						<p>A ductless mini split air conditioning system is a good option for anyone that does not have the space needed for traditional ductwork used by forced air, split or packaged central air conditioners. Ductless systems are equally and sometimes even more efficient and offer significant advantages over window units or standalone room units.</p>
						<p>Zenit Service can install mini splits for multiple purposes – additional unit for a home, porch or game room, unit specially for server room for a hospital or banks, "demand cooling".</p>
						<p>We also work install mini splits solely powered by solar power, providing cooling with zero cost to you.</p>
					  </div>
					</div>
				</div>
			</md-tab>
			<md-tab label="Installation">
				<div class="md-padding">
				  <h3 class="">Installation</h3>
				  <div>
					  <div class="product-description" layout="column">
						<p>There are many benefits to having a ductless mini split system installed in your home. The most pronounced benefit of such a system is that they can be installed in homes that don’t have room for ductwork. Where your only option before may have been a number of costly–to–operate window units, you can now have a dedicated cooling system installed that uses a central condenser and that is often more efficient than almost any other type of cooling system on the market.</p>
						<p>Ductless mini split systems include two major components – an outdoor condenser unit and one or more indoor units that supply air to your home. The outdoor unit compresses refrigerant, which is then circulated into your home where it expands and absorbs heat, cooling your home. The process can work in reverse as well, allowing you to heat your home effectively in the winter with the same mini split system. To prepare for installation, we will discuss with you your cooling needs and budget. You will need to select a condenser based on your efficiency needs and how many indoor units you would like – many systems can support up to 4 indoor units and some can even support 8 such units if you have a large home.</p>
					  </div>
					</div>
				</div>
			</md-tab>
			<md-tab label="Repair and Maintenance">
				<div class="md-padding">
				  <h3 class="">Repair and Maintenance</h3>
				  <div>
					  <div class="product-description" layout="column">
						<p>Whether you have an existing ductless mini split system or you want to ensure your future system is properly cared for, we also offer preventive maintenance services for all major brands and types of ductless mini split systems. We can schedule annual inspections and tune ups as part of preventive maintenance or we can visit your home for a dedicated inspection of your ductless mini split system. Whatever your cooling needs, we have technicians on call to ensure your system remains as efficient and reliable as possible.</p>
						<p>If you have decided it is time to have a new ductless mini split system installed in your home or you are interested in learning more about our ongoing repair and maintenance services in Las Vegas, contact the experts of Paradise Air today. We offer comprehensive air conditioning installation, maintenance and repair services for all major brands and types in the area, including ductless split systems.</p>
					  </div>
					</div>
				</div>
			</md-tab>
		</md-tabs>
	</div>


</md-content>