<md-content class="mini-splits products" layout="column" layout-align="center center">
	<div class="title">
		<h2>Mini Splits</h2>
	</div>
	<!-- <div class="section1" flex layout="row" layout-align="space-between center">
		<div flex>
			<h4>Products</h4>
			<p>Click any of the products below to view more information.</p>
			<ul>
				<li><a target="_blank" href="http://www.daikin.com/products/ac/lineup/split_multi_split/"><b>Daikin</b></a></li>
				<li><a target="_blank" href="http://www.fujitsugeneral.com/wallmounted_landing.htm"><b>Fujitsu</b> - Wall mounted</a></li>
				<li><a target="_blank" href="http://www.mitsubishicomfort.com/products"><b>Mitsubishi</b> - Single room solutions</a></li>
				<li><b>Solar Power mini splits</b></li>
			</ul>
		</div>
	</div> -->
	<div class="tab-container">
		<md-tabs class="tabs" md-dynamic-height md-border-bottom>
			<md-tab label="Daikin Split">
				<div class="md-padding">
				  <h3 class="">Daikin Split</h3>
				  <div>
					  <div class="product-description" layout="column">
						<h4>Multi-split</h4>
						<ul>
							<li>Connects one indoor unit to an outdoor unit.</li>
							<li>Installs simply and unobtrusively to buildings with no need for ductwork.</li>
							<li>Delivers a sophisticated air conditioning solution to single zone interior spaces at an affordable price.</li>
							<li>Provides a simple solution for one-room additions.</li>
						</ul>
						  <div class="img-mobile">
							<img src="assets/images/products/daikin1.jpg" alt="Daikin split">
						  </div>
						<p>This information and additional information can be found on the Daikin website.</p>
						<p><a href="http://www.daikin.com/products/ac/lineup/split_multi_split/">www.daikin.com</a></p>
					  </div>
					  <div class="product-img">
						<img src="assets/images/products/daikin1.jpg" alt="Daikin split">
					  </div>
					</div>
				</div>
			</md-tab>
			<md-tab label="Daikin Multi">
				<div class="md-padding">
				  <h3 class="">Daikin Multi-split</h3>
				  <div>
					  <div class="product-description" layout="column">
					  	<h4>Mini-split</h4>
						<ul>
							<li>Connects up to five indoor units to a single outdoor unit.</li>
							<li>Installs a complete air conditioning system to multiple zone interior spaces with no need for ductwork.</li>
							<li>Provides individual control of room temperature settings.</li>
							<li>Enables indoor units of different styles and capacities in one system for customized solutions unique to each residential setting.</li>
						</ul>
						<div class="img-mobile">
							<img src="assets/images/products/daikin2.jpg" alt="Daikin multi-split">
						</div>
						<p>This information and additional information can be found on the manufactuer's website.</p>
						<p><a href="http://www.daikin.com/products/ac/lineup/split_multi_split/">www.daikin.com</a></p>
					  </div>
					  <div class="product-img">
						<img src="assets/images/products/daikin2.jpg" alt="Daikin multi-split">
					  </div>
				  </div>
				</div>
			</md-tab>
			<md-tab label="Fujitsu">
				<div class="md-padding">
				    <h3 class="">Fujitsu</h3>
				    <div>
					    <div class="product-description" layout="column">
						  	<h4>Wall Mounted Units</h4>
							<ul>
								<li>Stylish, slim and elegant, these popular wall mounted units are designed for single rooms.</li>
								<li>Indoor units have a clean, aesthetic design and are small but mighty and shorter in length than competing units, helping them blend into any room.</li>
								<li>16-SEER heat pump systems now feature Inverter technology, environmentally friendly R410A refrigerant, both heating and cooling operation, quiet mode and easy maintenance.</li>
								<li>Inverter Technology</li>
								<li>Quiet Operation</li>
								<li>Wireless Remote Controller</li>
								<li>Washable Panel Filter</li>
								<li>Smart System:  Auto Mode</li>
								<li>Humidity Control</li>
							</ul>
						    <div class="img-mobile">
								<img src="assets/images/products/fujitsu1.jpg" alt="Fujitsu wall mounts">
						    </div>
							<p>This information and additional information can be found on the manufactuer's website.</p>
							<p><a href="http://www.fujitsugeneral.com/wallmounted_landing.htm">www.fujitsugeneral.com</a></p>
					    </div>
					    <div class="product-img">
							<img src="assets/images/products/fujitsu1.jpg" alt="Fujitsu wall mounts">
					    </div>
				  </div>
				</div>
			</md-tab>
			<md-tab label="Mitsubishi">
				<div class="md-padding">
				    <h3 class="">Mitsubishi</h3>
				    <div>
					    <div class="product-description" layout="column">
						  	<h4>Wall Mounted Units</h4>
							<ul>
								<li>Hot or cold rooms.</li>
								<li>Additions/Renovations.</li>
								<li>Enclosed patios.</li>
								<li>Homes without space for duct work.</li>
								<li>Larger, multi-room living spaces.</li>
							</ul>
							<h4>Solar Powered Mini-splits</h4>
							<p>Solar AC uses one, two, or three PV panels.</p>
						    <div class="img-mobile">
								<img src="assets/images/products/mitsubishi1.png" alt="Mitsubishi wall mounts">
						    </div>
							<p>This information and additional information can be found on the manufactuer's website.</p>
							<p><a href="http://www.fujitsugeneral.com/wallmounted_landing.htm">www.fujitsugeneral.com</a></p>
					    </div>
					    <div class="product-img">
							<img src="assets/images/products/mitsubishi1.png" alt="Mitsubishi wall mounts">
					    </div>
				  </div>
				</div>
			</md-tab>
		</md-tabs>
	</div>
</md-content>