<md-content class="about installation" layout="column" layout-align="center center">
<div class="title">
	<h2>Mini Splits</h2>
</div>
	<div class="section1" flex layout="row" layout-align="space-between center">
		<div flex>
			<h4>Products</h4>
			<p>Click any of the products below to view more information.</p>
			<ul>
				<li><a target="_blank" href="http://www.daikin.com/products/ac/lineup/split_multi_split/"><b>Daikin</b></a></li>
				<li><a target="_blank" href="http://www.fujitsugeneral.com/wallmounted_landing.htm"><b>Fujitsu</b> - Wall mounted</a></li>
				<li><a target="_blank" href="http://www.mitsubishicomfort.com/products"><b>Mitsubishi</b> - Single room solutions</a></li>
				<li><b>Solar Power mini splits</b></li>
			</ul>
		</div>
	</div>
</md-content>