<md-content>
  <div class="contact" layout="row" >
    <div class="form-container" flex="50">
      <form ng-submit="con.sendMessage(message)" name="emailForm" >
        <div>
          <md-input-container class="md-block">
            <label>Name</label>
            <input name="name" ng-model="con.message.name">
            <!-- <div ng-messages="message.name.$error">
              <div ng-message="required">Please enter your name</div>
            </div> -->
          </md-input-container>

          <md-input-container class="md-block">
            <label>Email</label>
            <input name="_replyto" ng-model="con.message.replyTo">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Message</label>
            <textarea ng-model="con.message.body" name="message" columns="1" rows="3" placeholder="Enter your message here..."></textarea>
          </md-input-container>
          <input type="text" name="_gotcha" style="display:none" />
          <input type="hidden" name="_next" value="#" />
          <md-button flex="50" class="md-raised md-primary" type="submit" value="Send">Send</md-button>
        </div>
      </form>
    </div><!-- .form-container -->
    <!-- <button ng-click="con.alertError()"></button> -->
    <div flex="50">
      <div class="contact-image">
        <img src="assets/images/ac-repair.png" md-padding alt="">
      </div>
    </div>
  </div> 
</md-content>