<md-content class="main" layout="column" layout-fill>

  <div class="section1">
    <div layout-fill class="background">
      <div class="headding" layout="column" layout-align="end center">
        <h3>Zenit Service</h3>
        <p>HVAC (Commercial and Residential)</p>
        <md-button class="numbers" href="tel:1-407-878-7840" layout-align="center center">407-878-7840</md-button>
      </div>
    </div>
  </div> <!-- .section1  -->

  <div class="brands text-only" layout="row" layout-align="space-around center">
    <div class="text-block">
      <h2 flex="100">We service all major brands</h2>
      <p class="body-text">Zenit Service is a licensed heating, ventilation, and air conditioning company serving residential and commercial clients in Orlando and the surrounding areas. We are committed to providing excellent service and customer satisfaction regardless of the job - large or small!</p>
    </div>

    <!-- Brand logos -->
<!--     <div data-ng-repeat="brand in main.brands">
      <img src="{{brand.src}}" alt="{{brand.alt}}">
    </div> -->
  </div>

  <div class="section3">
    <div class="sub item1">
      <div class="image-container">
        <a href="#/commercial/service">
          <img src="assets/images/three-links/Commercial_Installation_1.jpeg" alt="commercial">
          <div class="text">
            <h3>Commercial</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="sub item2">
      <div class="image-container">
        <a href="#/residential/service">
          <img src="assets/images/three-links/Residential_AirConInstallationProcess.jpg" alt="residential">
          <div class="text">
            <h3>Residential</h3>
          </div>
        </a>
      </div>
      
    </div>
    <div class="sub item3">
      <div class="image-container">
        <a href="#/iaq/general">
          <img src="assets/images/three-links/iaq.JPG" alt="indoor air quality">
          <div class="text">
            <h3>Indoor Air Quality</h3>
          </div>
        </a>
      </div>
      
    </div>
  </div>

  <div class="contact-form mar-bot">
    <h3>Contact us today!</h3>
    <form ng-submit="main.sendMessage(message)" name="main.emailForm">
      <div>

        <md-input-container class="md-icon-float md-block">
          <label>Name*</label>
          <md-icon class="material-icons md-mainColor icon">person</md-icon>
          <input name="name" ng-model="main.message.name" required="true">
          <div ng-messages="main.message.name.$error">
            <div ng-message="required">Please enter your name.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <label>Email*</label>
          <md-icon class="material-icons md-mainColor icon">email</md-icon>
          <input name="_replyto" ng-model="main.message.replyTo" required="true" ng-pattern="/^.+@.+\..+$/">
          <div ng-messages="main.message.email.$error">
            <div ng-message="required">Please enter a valid email address.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-icon-float md-block text-area">
          <label>Message*</label>
          <md-icon class="material-icons md-mainColor icon">edit</md-icon>
          <textarea ng-model="main.message.body" name="message" columns="1" rows="3" placeholder="Enter your message here..." required="true"></textarea>
        </md-input-container>
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="#" />
        <md-button flex="50" class="md-raised md-primary" type="submit" ng-disabled="main.emailForm.$invalid" value="Send">Send</md-button>
      </div>
    </form>
  </div>

  <div class="section4">
    
  </div>
  <div class="brands logos" layout="row" layout-align="space-around center">
<!--     <div class="text-block">
      <h2 flex="100">We service all major brands</h2>
      <p class="body-text">Zenit Service is a licensed heating, ventilation, and air conditioning company serving residential and commercial clients in Orlando and the surrounding areas. We are committed to providing excellent service and customer satisfaction regardless of the job - large or small!</p>
    </div>
 -->
    <!-- Brand logos -->
    <div data-ng-repeat="brand in main.brands">
      <img src="{{brand.src}}" alt="{{brand.alt}}">
    </div>
  </div>
</md-content>