<md-content class="refrigeration" layout="column" layout-align="center center">
	<div class="page-title">
		<h2>Refrigeration</h2>
	</div>
	<div class="section1" flex layout="row" layout-align="space-between center">
		<div layout-fill class="background">
	        <div class="headding" layout="column">
  				<p>We are proud to offer commercial refrigeration repair and installation in Orlando and surrounding counties for all types of businesses. Whether your commercial ice machine isn’t working or if you need a new walk–in freezer, call Zenit Service.</p>
  				<p>We take our work seriously and are proud of the quality of work that we provide. We want to build relationships with our customers and watch them succeed. We provide a 30–day warranty on our labor and manufacturer warranty on the parts we use in install or repairs. In addition, we offer extended warranty packages.</p>
  				<p>We also offer a guaranteed response time so you know that we’ll get there as soon as possible.</p>
	        </div>
        </div>
	</div>

	<div class="section2 mar-bot" flex layout="row" layout-align="center center">
		<div flex>
			<h3>Commercial Refrigeration Repair</h3>
			<p>Zenit Service has years of experience in the maintenance and repair of all commercial refrigeration. We are trained to repair and conduct maintenance on any and every brand and style of commercial refrigeration appliances.</p>
			<p>If any of your commercial refrigeration units have constant problems or are not working the way they should you may be considering replacing them. Buying a commercial appliance is an expensive process, you have to find what you need, make a choice and have the appliance delivered and installed all of this costs a significant amount of money that you could save by just having the unit repaired.</p>
			<p>Having maintenance and keeping up with needed repairs will greatly increase the lifespan of any appliance, saving time, money and preventing negative effects on the environment by not dumping an old refrigeration appliance in a landfill.</p>
			<p>Zenit Service can assist you with maintenance and repairs allowing you to hold on to your appliances and have them working like new for longer. If you call us today we will schedule you an appointment at your convenience.</p>
		</div>
		
	</div>
</md-content>