<md-content class="about installation" layout="column" layout-align="center center">
<div class="title">
	<h2>Duct Cleaning</h2>
</div>
	<div class="section1" flex layout="row" layout-align="space-between center">
		<div flex>
			<p>Why should you have your cooling and heating ducts cleaned? The short answer is simple: because ducts get dirty over time and they have the potential to contain large amounts of dust and particulates.</p>
			<p>While ducts can be maintained by using high-efficiency air filters and by being replaced regularly, professional air duct maintenance and cleanings are needed to repair cracks that cause air leaks and allow outside air containing pollutants and allergens to circulate throughout your home or office.</p>
		</div>
		<div class="image-container" flex hide-xs>
			<img class="margin-auto" src="http://placehold.it/350x300" alt="">
		</div>
	</div>
</md-content>