<md-content class="iaq" layout="column" layout-align="center center">
	<div class="title">
		<h2>Indoor Air Quality</h2>
	</div>
	
	<div class="section-container section1" flex>
		<div class="sub-section" layout="row" layout-align="space-between center">
			<div flex>
				<p>Most of us spend much of our time indoors. Unfortunately, indoor air is far more polluted than outdoor air. According to the EPA, indoor air contains two to five times —and on occasion, as much as 100 times – more contaminants than outdoor air.</p>
			</div>
		</div>
	</div>
	<div class="section-container section2" flex>
		<div class="sub-section" layout="row" layout-align="space-between center">
			<div flex>
				<p>While the current modern homes are air-tight and with more insulation than ever before, indoor air quality can often become a concern.</p>
				<p>Neglecting indoor air quality care can easily diminish comfort at home. Zenit Service offers a variety of services that assist in the purification of indoor air.  Such products include improved filters, ultra violet lamps that kill impurities that may form in an air conditioning unit, HEPA whole house filtration systems, electronic air cleaners, etc.</p>
				<p>We work with all makes and models; commercial and residential.</p>
			</div>
		</div>
		<div class="image-container" flex hide-xs>
			<img class="margin-auto" src="http://placehold.it/350x300" alt="">
		</div>
	</div>
</md-content>