<md-content class="iaq" layout="column" layout-align="center center">
	<div class="page-title">
		<h2>Attic Insulation</h2>
	</div>
	<div class="page-title" flex layout="row" layout-align="space-between center">
		<!-- <div flex="40" flex-offset="30" class="page-title"> -->
			<h3>Poor attic insulation can cost you money, and A LOT of it.</h3>
		<!-- </div> -->
	</div>
	<div class="section1" flex layout="row" layout-align="space-between center">
		<div flex>
			<p>A properly insulated attic can reduce heating and cooling costs. Proper insulation will also make your home more comfortable and extend the life of your HVAC system.</p>
			<p>Keeping your home cool in the summer and warm in winter is expensive. Sure, you can dial down the thermostat and get used to wearing bulky sweaters indoors to cut cost but, if your attic is unfinished or poorly insulated, installing proper insulation is one of the simplest ways to keep a lid on your cooling or heating bill every season.</p>
			<p>Zenit Service uses state-of-the-art insulation products.</p>
		</div>
		<div class="image-container" flex hide-xs>
			<img class="margin-auto" src="http://placehold.it/350x300" alt="">
		</div>
	</div>
	<!-- <div class="section1" flex layout="row" layout-align="space-between center">
		<div class="image-container" flex hide-xs>
			<img class="margin-auto" src="http://placehold.it/350x300" alt="">
		</div>
		<div flex>
			<p>Keeping your home cool in the summer and warm in winter is expensive. Sure, you can dial down the thermostat and get used to wearing bulky sweaters indoors to cut cost but, if your attic is unfinished or poorly insulated, installing proper insulation is one of the simplest ways to keep a lid on your cooling or heating bill every season.</p>
			<p>Zenit Service uses state-of-the-art insulation products.</p>
		</div>
	</div> -->
	<div class="section1" flex layout="row" layout-align="space-between center">
		<div flex>
			<h3>If you're not sure if your attic is properly insulated, call Zenit Service <b><a class="numbers" href="tel:1-407-878-7840">407-878-7840</a></b> to schedule an inspection today!</h3>
		</div>
	</div>
	<div class="section1" flex layout="row" layout-align="space-between center">
		<div flex="80" flex-offset="10">
			<p>You can also complete a visual inspection to determine whether your attic is well-insulated. Simply look across the span of your attic. If your insulation is just level with or below the ceiling joist, more insulation is needed. If you can’t see any of the ceiling joists because the insulation is well above them, you probably have enough and adding more may not be cost-effective.</p>
		</div>
	</div>
</md-content>